<launch>
    <node pkg="sim_tools" type="path_loader.py" name="path_loader" output="screen">
        <param name="csv_path" value="../path/rule_based_strict_route_anchors.csv"/>
        <param name="path_mode" value="linear"/>
        <param name="smoothing" value="0.30"/>
        <param name="num_points" value="15000"/>
        <param name="min_spacing" value="0.05"/>
        <param name="resample_spacing" value="0.20"/>
        <param name="min_curve_spacing" value="0.10"/>
        <param name="curvature_gain" value="3.0"/>
        <param name="spike_jump" value="4.0"/>
        <param name="reconnect_dist" value="1.0"/>
        <param name="corner_gain" value="1.0"/>
    </node>

    <node pkg="controller" type="pos_controller_node" name="pos_controller" output="screen">
        <rosparam command="load" file="$(find controller)/config/pos_params.yaml" />
    </node>

    <node pkg="planner" type="local_goal_publisher.py" name="local_goal_publisher" output="screen">
        <param name="path_topic" value="/drone_1/saved_path"/>
        <param name="pose_topic" value="/airsim_node/drone_1/debug/pose_gt"/>
        <param name="goal_topic" value="/goal_pose"/>
        <param name="look_ahead_distance" value="8.0"/>
        <param name="forward_search_window" value="120"/>
        <param name="publish_rate" value="10.0"/>
        <param name="goal_republish_dist" value="0.5"/>
    </node>

    <include file="$(find planner)/launch/dp_planner.launch">
        <arg name="cmd_topic" value="/position_cmd"/>
    </include>
</launch>
