<launch>
    <node pkg="sim_tools" type="path_loader.py" name="path_loader" output="screen">
        <param name="csv_path" value="../path/rule_based_strict_route_anchors.csv"/>
        <param name="path_mode" value="linear"/>
        <param name="smoothing" value="0.30"/>
        <param name="num_points" value="15000"/>
        <param name="min_spacing" value="0.05"/>
        <param name="resample_spacing" value="0.20"/>
        <param name="min_curve_spacing" value="0.10"/>
        <param name="curvature_gain" value="3.0"/>
        <param name="spike_jump" value="4.0"/>
        <param name="reconnect_dist" value="1.0"/>
        <param name="corner_gain" value="1.0"/>
    </node>

    <node pkg="controller" type="pos_controller_node" name="pos_controller" output="screen">
        <rosparam command="load" file="$(find controller)/config/pos_params.yaml" />
    </node>

    <node pkg="planner" type="path_follower" name="path_follower" output="screen">
        <param name="cmd_topic" value="/path_follower/position_cmd"/>
        <param name="look_ahead_distance" value="4.0"/>
        <param name="min_dist_threshold" value="0.15"/>
        <param name="cruise_speed" value="4.2"/>
        <param name="slow_down_radius" value="1.5"/>
        <param name="max_climb_speed" value="3.5"/>
        <param name="z_feedforward_gain" value="3.5"/>
        <param name="forward_search_window" value="60"/>
        <param name="turn_slow_angle_deg" value="20.0"/>
        <param name="turn_sharp_angle_deg" value="55.0"/>
        <param name="turn_min_speed_ratio" value="0.40"/>
        <param name="turn_min_look_ahead" value="1.2"/>
        <param name="enable_turnaround_mode" value="true"/>
        <param name="turnaround_angle_deg" value="90.0"/>
        <param name="turnaround_search_ahead" value="160"/>
        <param name="turnaround_activate_dist" value="55.0"/>
        <param name="turnaround_look_ahead" value="2.0"/>
        <param name="turnaround_speed" value="15.0"/>
        <param name="turnaround_exit_points" value="50"/>
        <param name="enable_fixed_turnaround_points" value="false"/>
        <param name="fixed_turnaround_activate_dist" value="5.0"/>
        <param name="fixed_turnaround_trigger_ahead_points" value="80"/>
        <param name="turnaround_z_step_limit" value="0.03"/>
        <param name="enable_post_turn_yaw_align" value="true"/>
        <param name="post_turn_yaw_align_deg" value="12.0"/>
        <param name="startup_ramp_duration" value="4.0"/>
        <param name="startup_speed_ratio" value="0.18"/>
        <param name="startup_look_ahead_ratio" value="0.12"/>
        <param name="startup_min_look_ahead" value="0.5"/>
        <param name="post_turn_target_ahead_points" value="12"/>
    </node>

    <node pkg="planner" type="local_goal_publisher.py" name="local_goal_publisher" output="screen">
        <param name="path_topic" value="/drone_1/saved_path"/>
        <param name="pose_topic" value="/airsim_node/drone_1/debug/pose_gt"/>
        <param name="goal_topic" value="/goal_pose"/>
        <param name="look_ahead_distance" value="8.0"/>
        <param name="forward_search_window" value="120"/>
        <param name="publish_rate" value="10.0"/>
        <param name="goal_republish_dist" value="0.5"/>
    </node>

    <include file="$(find planner)/launch/dp_planner.launch">
        <arg name="cmd_topic" value="/dp_planner/position_cmd"/>
    </include>

    <node pkg="planner" type="planner_switcher.py" name="planner_switcher" output="screen">
        <param name="path_topic" value="/drone_1/saved_path"/>
        <param name="pose_topic" value="/airsim_node/drone_1/debug/pose_gt"/>
        <param name="path_cmd_topic" value="/path_follower/position_cmd"/>
        <param name="dp_cmd_topic" value="/dp_planner/position_cmd"/>
        <param name="output_cmd_topic" value="/position_cmd"/>
        <param name="state_topic" value="/planner_switch/state"/>
        <param name="forward_search_window" value="80"/>
        <param name="fixed_turnaround_activate_dist" value="5.0"/>
        <param name="fixed_turnaround_trigger_ahead_points" value="80"/>
        <param name="switch_confirm_margin_points" value="1"/>
    </node>
</launch>
