<launch>
    <arg name="cmd_topic" default="/dp_planner/position_cmd"/>
    <arg name="depth_topic" default="/airsim_node/drone_1/front_stereo/DepthPerspective"/>

    <node pkg="planner" type="dp_planner_runner.sh" name="dp_planner" output="screen">
        <param name="odom_topic" value="/airsim_node/drone_1/debug/pose_gt"/>
        <param name="odom_type" value="pose"/>
        <param name="depth_topic" value="$(arg depth_topic)"/>
        <param name="goal_topic" value="/goal_pose"/>
        <param name="cmd_topic" value="$(arg cmd_topic)"/>
        <param name="model_path" value="$(find planner)/models/dp_planner/3-19.pth"/>
        <param name="max_speed" value="10.5"/>
        <param name="margin" value="0.8"/>
        <param name="thr_est_error" value="1.0"/>
        <param name="goal_reached_dist" value="0.4"/>
    </node>
</launch>
